*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header,footer{
    display: flex;
    height: 10%;
    width: 100%;
    background-color:rgb(121, 160, 233);
    /* //background-color:rgb(135, 187, 235); */
}

main{
    background-color:bisque;
    height: 80%;

    display: flex !important;
    flex-direction: column;
}



header > h1{
    max-height: max-content;
    display: flex;
    margin-left: 50px;
    font-size: 40px;
    color:whitesmoke;
    text-shadow: 5px 5px 10px royalblue, -5px -5px 10px palevioletred;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.footer-sec{
    color: whitesmoke;
    margin-inline: 20px;
    line-height: 22px;
    text-align: center;
    min-width: 21%;
}

.user-grid,.computer-grid{
    border: 1px solid lightcyan;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fields > .container {
    margin-inline: 7vw;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: max-content;
}

.mover{
    min-width: 20%;
    text-align: center;
    margin-top: 20px;
    padding-inline: 20px;
    background-color:cornflowerblue;
    border: 5px dashed palevioletred;
    border-radius: 20px;
    color:whitesmoke;
    font-size: 30px;
}

.container-g{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    height: max-content;
    margin: 30px;
}

.user-grid,.computer-grid{
    background-color: plum;
    height: 300px;
    width: 300px;
}
.user-ships,.computer-ships{
    background-color: plum;
    height: max-content;
    max-height: 300px;
    width: 300px;
}

.square{
    height: 10%;
    width: 10%;
    background-color: skyblue;
    border: 1px solid lightcyan; 
    float: left;
}
/* .square:hover{
    background-color: gray;
} */

.ship-section{
    background-color: pink;
    display: flex;
    min-height: 48px;
    width: 100%;
}

.invisible{
    visibility: hidden;
}

.ship-section > .ship{
    margin: 15px 0 0 15px;
}

.ship{
    display: flex;
    /* margin: 30px 0 0 30px; */
    height: 30px;
    width: max-content;
    position: relative;
    border: 1px solid dimgray;
}

.user-ships-vertical{
    display: flex;
    flex-direction: row;
}

.ship-section-vertical{
    width: 17%;
    flex-direction: column; 
    height: 190px;
    max-height: 190px;
    flex-wrap: wrap; 
}

.user-ships-vertical > .ship-section2,.user-ships-vertical >.ship-section3{
    width: 34%;
}

.ship-vertical{
    flex-direction: column;
    height: max-content;
}

.ss,.ess{
    height: 30px;
    width: 30px;
    background-color: silver;
    border: 1px solid dimgray;
}

.square > .ship{
    box-sizing: content-box;
    margin: -2px;
}

.button-section{
    margin-top: 30px;
    background-color:bisque;
    height: 70%;
    justify-content: space-evenly;
}

.button-section > button{
    /* //line-height:  30px; */
    vertical-align: text-top;
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
    padding: 0px 20px 0px 20px;
    height: 50px;
    background-color: cornflowerblue;
    border: 3px solid royalblue;
    border-radius: 20px;
}

button:hover { 
    background: royalblue;
    /* //color: royalblue; */
}


.little{
    transform-origin: center left;
    transform: scale(0.5);
    float: left;
}

.ship-active{
    opacity: 0.5;
}

.ship-checker{
    opacity: 0.6;
}

.ship-checker-dead > .ss,.ship-checker-dead > .ess{
    background-color: rebeccapurple;
}

.dead{
    background-color: red;
}

.taken{
    /* background-color: palegreen;  */
}

/* .takenByShip{background-color: orange;} */

.takenByShip{
    /* box-sizing: content-box;
    margin: -1px;
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    border: 2px solid dimgray;
    background-color: silver;
    position: relative; */
}

.MyTaken{
     background-color: palegreen;  
}

.MyShips{
    box-sizing: content-box;
    margin: -1px;
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    border: 2px solid dimgray;
    background-color: silver;
    position: relative;
}

.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.boom{
    box-sizing: content-box;
    margin: -1px;
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    border: 2px solid dimgray;
    background-color: palevioletred;
    position: relative;
}
.miss{
    background-color: cornflowerblue;
}

.takenDead{
    background-color:  royalblue;
    /* background-color: dodgerblue; */
}

.dead{
    box-sizing: content-box;
    margin: -1px;
    width: calc(10% - 2px);
    height: calc(10% - 2px);
    border: 2px solid dimgray;
    background-color: purple;
    position: relative;
}

button:disabled{
    opacity: 60%;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.restart{
    height: max-content;
}